<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <RollingFile name="rssfeed-validator-file" fileName="C:\\logs\\rssfeed-validator.log" filePattern="C:\\logs\\rssfeed-validator-%i.log" append="false">
			 <Policies>				
				<SizeBasedTriggeringPolicy size="5 MB"/>							
			</Policies>
			<DefaultRolloverStrategy max="100"/>
			<PatternLayout charset="UTF-8" pattern="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}:%L - %m%n"/>            
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="rss.feed.engine" level="debug">
			<AppenderRef ref="rssfeed-validator-file"/>
		</Logger>				
        <Root level="info">            
            <AppenderRef ref="async"/>
        </Root>
    </Loggers>
</Configuration>